@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  background-color: black;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border-radius: 10px;
  padding: 5em 2rem;
  box-shadow: 0px 0px 20px 0px black;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.UserName,
.PassWord {
  text-align: center;
  border: 2px solid cyan;
  color: #fff;
  margin: 1rem;
  background: transparent;
  border-radius: 2rem;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
}

.UserName:focus,
.PassWord:focus {
  width: 20rem;
  animation-name: colorChange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes colorChange {
  0% {
    border-color: green;
    color: green;
  }

  10% {
    border-color: yellow;
    color: yellow;
  }

  20% {
    border-color: hotpink;
    color: hotpink;
  }

  30% {
    border-color: red;
    color: red;
  }

  40% {
    border-color: purple;
    color: purple;
  }

  50% {
    border-color: yellow;
    color: yellow;
  }

  60% {
    border-color: cyan;
    color: cyan;
  }

  70% {
    border-color: skyblue;
    color: skyblue;
  }

  80% {
    border-color: pink;
    color: pink;
  }

  90% {
    border-color: red;
    color: red;
  }

  100% {
    border-color: yellow;
    color: yellow;
  }
}

.loginBtn {
  background: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid lightblue;
  border-radius: 6rem;
  padding: 5px 15px;
  margin: 0.5rem;
}

.loginBtn:hover {
  background: green;
  border: 2px solid green;
}
